<div class="modal" (click)="close.emit()"></div>
<div class="modal-content">
  <div class="modal-header">
    <h4>{{ 'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.FILTER_TITLE' | translate }}</h4>
    <button (click)="close.emit()">
      <img src="assets/new-styles/icons/buttons/close-icon.svg" />
    </button>
  </div>
  <form [formGroup]="filtersModalForm">
    <div class="modal-body">
      <input
        type="text"
        placeholder="Id Producto"
        formControlName="productId"
      /> 
      <input type="text" placeholder="Producto" formControlName="productName" />
      <select name="brokerSelect" id="brokers" formControlName="broker">
        <option value="" disabled selected hidden>{{'IP.ADMIN_TABLE.BROKERNAME' | translate}}</option>
        <option value="Juan Pérez">Juan Pérez</option>
        <option value="Sofía Gómez">Sofía Gómez</option>
        <option value="María Rodríguez">María Rodríguez</option>
      </select>
    </div>

    <!--
            <app-ip-input
              inputId="productId"
              [control]="getControl('productId')"
              label=""
              placeholder="Id Producto"
              type="text"
      ></app-ip-input>
      -->

    <div class="modal-buttons">
      <app-ip-button-modal
        class="btn-clean"
        typeBtn="submit"
        size="normal"
        (clicked)="cleanFilters()"
      >
        {{ 'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.CLEAN_FILTER' | translate }}
      </app-ip-button-modal>

      <app-ip-button-modal
        class="btn-close"
        typeBtn="submit"
        size="normal"
        (clicked)="close.emit()"
      >
        {{ 'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.CLOSE' | translate }}
      </app-ip-button-modal>

      <app-ip-button-modal
        class="btn-apply"
        typeBtn="submit"
        size="normal"
        (clicked)="applyFilters()"
      >
        {{ 'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.APPLY' | translate }}
      </app-ip-button-modal>
    </div>
  </form>
</div>
