<div class="container">
  <div class="card-title">
    <h2 class="title">{{ 'IP.LOGIN.SUPPLIER' | translate }}</h2>
  </div>

  <div class="card">
    <div class="table-view">
      <!--[actions]="actions"-->
      <app-table
        *ngIf="pagedData.length > 0"
        [propertyOrder]="propertyOrder"
        [data]="pagedData"
        [keyTranslate]="keyTranslate"
        [tableStyle]="'invopay'"
        [actionsIf]="actionsIf"
        [initTable]="initTable"
        [scroll]="scroll"
        (action)="onAction($event)"
        (selectedItemsChange)="onSelectedItemsChange($event)"
      >
      </app-table>
    </div>

    <!--Mostrar si es mobile-->
    <!--Hacer card la info para mobile-->
    <div class="card-view" *ngFor="let item of pagedData">
      <div class="card-header">
        <span class="card-id">#{{ item.id }}</span>
        <div class="menu-container">
          <img src="assets/icons/images.jpg" [alt]="item.name" width="10%" />
        </div>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.NAME' | translate}}</label>
        <span class="card-amount">{{ item.name }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.PAYMENTCHANNELS' | translate}}</label>
        <div class="payment-channels-container">
          <span class="payment-channel-span" *ngFor="let channel of item.paymentChannels">
            {{ channel }}
          </span>
        </div>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.ISPAYMENTENTITYACTIVE' | translate}}</label>
        <span *ngIf="item.isActive">{{'IP.YES' | translate}}</span>
        <span *ngIf="!item.isActive">{{'IP.NO' | translate}}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.DESCRIPTION' | translate}}</label>
        <span>{{ item.description }}</span>
      </div>
    </div>

    <div class="pagination">
      <div class="center">
        <select
          name="selectPages"
          id="pages"
          class="selectCenter"
          [(ngModel)]="itemsPerPage"
          (ngModelChange)="onItemsPerPageChange($event)"
        >
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
        </select>
      </div>
      <div>
        <app-paginator
          [totalItems]="tableData.length"
          [itemsPerPage]="itemsPerPage"
          [currentPages]="currentPage"
          (pageChange)="onPageChange($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>
