<div class="container">
  <div class="card-title">
    <h2 class="title">Detalle Recaudación</h2>
    <button (click)="back()">Volver</button>
  </div>

  <form [formGroup]="detailedInfoForm">
  <div class="card">
    <div class="sections-titles">
    <!--se ve siempre que se abre la pagina-->
    <h3 [class.active]="activeSection === 'transaction'" (click)="showTransactionSection()">Transacción</h3>
    <!--se ven solo cuando la recaudacion esta consolidada-->
    <h3 *ngIf="isRevenueConsolidated" [class.active]="activeSection === 'conciliation'" (click)="showConciliationSection()">Conciliación</h3>
    <h3 *ngIf="isRevenueConsolidated" [class.active]="activeSection === 'policy'" (click)="showPolicySection()">Póliza</h3>
    </div>

    <!--SECCION TRANSACCION-->
    <div *ngIf="showTransaction">

      <div class="inputs">
        <div class="card-input">
            <label for="revenueDate">Fecha Recaudación</label>
            <app-ip-input
              inputId="revenueDate"
              [control]="getControl('revenueDate')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="amountRevenue">Monto</label>
            <app-ip-input
              inputId="amountRevenue"
              [control]="getControl('amountRevenue')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="paymentChannel">Canal de Pago</label>
            <app-ip-input
              inputId="paymentChannel"
              [control]="getControl('paymentChannel')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="paymentEntity">Proveedor</label>
            <app-ip-input
              inputId="paymentEntity"
              [control]="getControl('paymentEntity')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="transactionObservations">Observaciones</label>
            <app-ip-text-area-input
              inputId="transactionObservations"
              [control]="getControl('transactionObservations')"
              label=""
            ></app-ip-text-area-input>
          </div>
      </div>

    </div>


    <!--SECCION CONCILIACION-->
    <div *ngIf="showConciliation">
      <div class="inputs">

          <div class="card-input">
            <label for="isConsolidated">Consolidada</label>
            <app-ip-input
              inputId="isConsolidated"
              [control]="getControl('isConsolidated')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="productName">Producto</label>
            <app-ip-input
              inputId="productName"
              [control]="getControl('productName')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="policyNumber">Póliza</label>
            <app-ip-input
              inputId="policyNumber"
              [control]="getControl('policyNumber')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          
          <div class="card-input">
            <label for="amountPolicy">Monto</label>
            <app-ip-input
              inputId="amountPolicy"
              [control]="getControl('amountPolicy')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="brokerName">Broker</label>
            <app-ip-input
              inputId="brokerName"
              [control]="getControl('brokerName')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="payNumber">Número de Pago</label>
            <app-ip-input
              inputId="payNumber"
              [control]="getControl('payNumber')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="payAmount">Valor de Pago</label>
            <app-ip-input
              inputId="payAmount"
              [control]="getControl('payAmount')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

      </div>
    </div>


    <!--SECCION POLIZA-->
    <div *ngIf="showPolicy"> 
      <div class="inputs">
        <div class="card-input">
            <label for="productNamePolicy">Producto</label>
            <app-ip-input
              inputId="productNamePolicy"
              [control]="getControl('productNamePolicy')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="policyNumberPol">Número de Póliza</label>
            <app-ip-input
              inputId="policyNumberPol"
              [control]="getControl('policyNumberPol')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="amountPolPolicy">Monto Poliza</label>
            <app-ip-input
              inputId="amountPolPolicy"
              [control]="getControl('amountPolPolicy')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="saleDate">Fecha de Venta</label>
            <app-ip-input
              inputId="saleDate"
              [control]="getControl('saleDate')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="premiumAmount">Monto de Prima</label>
            <app-ip-input
              inputId="premiumAmount"
              [control]="getControl('premiumAmount')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

      </div>
      <app-table
        *ngIf="tableData.length > 0"
        [propertyOrder]="propertyOrder"
        [data]="tableData"
        [keyTranslate]="keyTranslate"
        [tableStyle]="'invopay'" 
        [titlesFile]="titlesFile"
        [initTable]="initTable"
        [scroll]="scroll"
        (action)="onAction($event)"
        (selectedItemsChange)="onSelectedItemsChange($event)">
      </app-table>
    </div>

  </div>
  </form>
</div>