<div class="container">
  <div class="card">
    <h2 class="title">Ventas</h2>
  </div>

  <div class="card">
    <div class="filters">
      <!--
      - El filtro de busqueda permite filtrar en un periodo de hasta 3 meses.  
      - Por defecto siempre se muestra el mes actual.
      -->
      <form [formGroup]="filtersForm">
        <div class="input-date">
          <input
            type="date"
            id="desde"
            formControlName="startDate"
            [min]="startDateMin"
            [max]="startDateMax"
          />
          <label for="desde">Desde</label>
        </div>

        <div class="input-date">
          <input
            type="date"
            id="hasta"
            formControlName="endDate"
            [min]="endDateMin"
            [max]="endDateMax"
          />
          <label for="hasta">Hasta</label>
          <!--<app-ip-date-input></app-ip-date-input>-->
        </div>
      </form>

      <div class="buttons">
        <app-ip-button-modal
          typeBtn="submit"
          size="small"
          (clicked)="applyDateFilters()"
        >
        <img src="assets/new-styles/icons/buttons/search-icon-white.svg" />
        </app-ip-button-modal>

        <app-ip-button-modal
          typeBtn="submit"
          size="small"
          (clicked)="openModal()"
        >
          <img src="assets/icons/filter3.svg" />
        </app-ip-button-modal>

        <app-list-filters *ngIf="showModal" (close)="closeModal()">
        </app-list-filters>
      </div>
    </div>

    <div>
      <!--Ver columna actions porque no traduce-->
      <app-table
        *ngIf="pagedData.length > 0"
        [propertyOrder]="propertyOrder"
        [data]="pagedData"
        [keyTranslate]="keyTranslate"
        [tableStyle]="'invopay'"
        [titlesFile]="titlesFile"
        [actions]="actions"
        [actionsIf]="actionsIf"
        [initTable]="initTable"
        [scroll]="scroll"
        (sort)="onSort($event)"
        (action)="onAction($event)"
        (selectedItemsChange)="onSelectedItemsChange($event)"
      >
      </app-table>
    </div>

    <div class="pagination">
      <div class="center">
        <select
          name="selectPages"
          id="pages"
          class="selectCenter"
          [(ngModel)]="itemsPerPage"
          (ngModelChange)="onItemsPerPageChange($event)"
        >
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
        </select>
      </div>

      
        <app-paginator
          [totalItems]="filteredSales.length"
          [itemsPerPage]="itemsPerPage"
          [currentPages]="currentPage"
          (pageChange)="onPageChange($event)"
        >
        </app-paginator>
      
    </div>
  </div>
</div>
