<div class="container">
  <div class="card-title">
    <h2 class="title">{{ 'IP.REVENUE_LIST.TITLE' | translate }}</h2>
    <!--Botón para mostrar filtros en mobile-->
    <div class="filter-button-mobile">
      <app-ip-button-modal
        typeBtn="submit"
        size="normal"
        (clicked)="toggleFilters()"
      >
        <img src="assets/new-styles/icons/buttons/search-icon-white.svg" class="search-icon-mobile" /> 
        <span class="text-filter-mobile">{{ 'IP.FILTERS_MODAL.FILTER' | translate }}</span>
      </app-ip-button-modal>
    </div>
  </div>

  <app-list-filters-revenue *ngIf="showModal" (close)="closeModal()">
  </app-list-filters-revenue>

  <div class="filters-overlay" [class.show]="showFiltersOnMobile" (click)="toggleFilters()"></div>

  <div class="card filters-card" [class.show-mobile]="showFiltersOnMobile">
    <div class="modal-header">
      <h4>{{ 'IP.REVENUE_LIST.FILTER' | translate }}</h4>
      <button (click)="toggleFilters()">
        <img src="assets/new-styles/icons/buttons/close-icon.svg" />
      </button>
    </div>
    <div class="filters">
      <form [formGroup]="filtersForm">
        <div class="input-date">
          <input
            type="date"
            id="start"
            formControlName="startDate"
            [min]="startDateMin"
            [max]="startDateMax"
          />
          <label for="start">{{ 'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.FROM' | translate }}</label>
        </div>

        <div class="input-date">
          <input
            type="date"
            id="end"
            formControlName="endDate"
            [min]="endDateMin"
            [max]="endDateMax"
          />
          <label for="end">{{ 'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.TO' | translate }}</label>
          <!--<app-ip-date-input></app-ip-date-input>-->
        </div>
      </form>

      <!--Sumar los iconos (PREGUNTAR)-->
      <div class="buttons">
        <app-ip-button-modal
          typeBtn="submit"
          size="small"
          (clicked)="applyDateFilters()"
        >
          <img src="assets/new-styles/icons/buttons/search-icon-white.svg" />
        </app-ip-button-modal>

        <app-ip-button-modal
          typeBtn="submit"
          size="small"
          (clicked)="openModal()"
        >
          <img src="assets/icons/filter3.svg" />
        </app-ip-button-modal>
      </div>
    </div>
    </div>

    <div class="card">
      <div class="table-view">
        <!--Ver columna actions porque no traduce-->
        <app-table
          *ngIf="pagedData.length > 0"
          [propertyOrder]="propertyOrder"
          [data]="pagedData"
          [keyTranslate]="keyTranslate"
          [tableStyle]="'invopay'"
          [actions]="actions"
          [actionsIf]="actionsIf"
          [initTable]="initTable"
          [scroll]="scroll"
          (sort)="onSort($event)"
          (action)="onAction($event)"
          (selectedItemsChange)="onSelectedItemsChange($event)"
        >
        </app-table>
      </div>
    

    <!--Mostrar si es mobile-->
    <!--Hacer card la info para mobile-->
    <div class="card-view" *ngFor="let item of pagedData">
      <div class="card-header">
        <span class="card-id">#{{ item.id }}</span>
        <div class="menu-container">
          <button class="menu-button" (click)="toggleMenu(item.id)">⋮</button>
          <div class="menu-dropdown" *ngIf="openMenuId === item.id">
            <button (click)="toDetails(item.id)">{{'IP.ACTIONS_TOOLTIP.SEARCH' | translate}}</button>
          </div>
        </div>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.SALEDATE' | translate}}</label>
        <span class="card-date">{{
          item.revenueDate | date : "dd/MM/yyyy"
        }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.REVENUEAMOUNT' | translate}}</label>
        <span class="card-amount">{{ item.revenueAmount }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.PAYMENTPROVIDER' | translate}}</label>
        <span>{{ item.paymentProvider }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.PAYMENTCHANNEL' | translate}}</label>
        <span>{{ item.paymentChannel }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.ISCONSOLIDATED' | translate}}</label>
        <span>{{ item.isConsolidated }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.POLICYNUMBER' | translate}}</label>
        <span>{{ item.policyNumber }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.PRODUCTNAME' | translate}}</label>
        <span>{{ item.productName }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.PREMIUMAMOUNT' | translate}}</label>
        <span class="card-amount">{{ item.premiumAmount }}</span>
      </div>

      <div class="card-row">
        <label>{{'IP.ADMIN_TABLE.BROKERNAME' | translate}}</label>
        <span>{{ item.brokerName }}</span>
      </div>
    </div>

    <div class="pagination">
      <div class="center">
        <select
          name="selectPages"
          id="pages"
          class="selectCenter"
          [(ngModel)]="itemsPerPage"
          (ngModelChange)="onItemsPerPageChange($event)"
        >
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
      </div>
      <app-paginator
        [totalItems]="filteredRevenues.length"
        [itemsPerPage]="itemsPerPage"
        [currentPages]="currentPage"
        (pageChange)="onPageChange($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
