<div class="sales" *ngIf="!(loadingService.isLoading$ | async)">
  <div class="sales__header">
    <h2 class="sales__title">{{ 'IP.SIDENAV.OPTIONS.SALES' | translate }}</h2>
    
    <!--Botón para mostrar filtros en mobile-->
    <div class="sales__filter-button sales__filter-button--mobile">
      <app-ip-button-modal
        typeBtn="submit"
        size="normal"
        (clicked)="toggleFilters()"
      >
        <img src="assets/new-styles/icons/buttons/search-icon-white.svg" class="sales__search-icon sales__search-icon--mobile" /> 
        <span class="sales__filter-text sales__filter-text--mobile">{{ 'IP.FILTERS_MODAL.FILTER' | translate }}</span>
      </app-ip-button-modal>
    </div>
  </div>

  <app-list-filters *ngIf="showModal" (close)="closeModal()">
  </app-list-filters>

  <div class="sales__filters-overlay" [class.sales__filters-overlay--show]="showFiltersOnMobile" (click)="toggleFilters()"></div>

  <!--Filtros-->
  <div class="sales__card sales__card--filters" [class.sales__card--show-mobile]="showFiltersOnMobile">
    <div class="sales__modal-header">
      <h4>{{ 'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.FILTER_TITLE' | translate }}</h4>
      <button class="sales__modal-close" (click)="toggleFilters()">
        <img src="assets/new-styles/icons/buttons/close-icon.svg" />
      </button>
    </div>
    <div class="sales__filters">
            <form class="sales__form" [formGroup]="filtersForm">
  <div class="sales__input-date">
    <app-ip-date-input
      inputId="start"
      [control]="startDateControl"
      [label]="'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.FROM' | translate"
      [min]="startDateMin"
      [max]="startDateMax"
    ></app-ip-date-input>
  </div>

  <div class="sales__input-date">
    <app-ip-date-input
      inputId="end"
      [control]="endDateControl"
      [label]="'IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.TO' | translate"
      [min]="endDateMin"
      [max]="endDateMax"
    ></app-ip-date-input>
  </div>
</form>

      <div class="sales__buttons">
        <app-ip-button-modal
          typeBtn="submit"
          size="small"
          (clicked)="applyDateFilters()"
        >
          <img src="assets/new-styles/icons/buttons/search-icon-white.svg" />
        </app-ip-button-modal>

        <app-ip-button-modal
          typeBtn="submit"
          size="small"
          (clicked)="openModal()"
        >
          <img src="assets/icons/filter3.svg" />
        </app-ip-button-modal>
      </div>
    </div>
  </div>

  <!--Contenido principal-->
  <div class="sales__card">
    <!--Mostrar si no es mobile-->
    <div class="sales__table-view">
      <app-table
        *ngIf="pagedData.length > 0"
        [propertyOrder]="propertyOrder"
        [data]="pagedData"
        [keyTranslate]="keyTranslate"
        [tableStyle]="'invopay'"
        [actions]="actions"
        [actionsIf]="actionsIf"
        [initTable]="initTable"
        [scroll]="scroll"
        (sort)="onSort($event)"
        (action)="onAction($event)"
        (selectedItemsChange)="onSelectedItemsChange($event)"
      >
      </app-table>
    </div>

    <!--Mostrar si es mobile-->
    <div class="sales__card-view" *ngFor="let item of pagedData">
      <div class="sales__card-header">
        <span class="sales__card-id">#{{ item.id }}</span>
        <div class="sales__menu">
          <button class="sales__menu-button" (click)="toggleMenu(item.id)">⋮</button>
          <div class="sales__menu-dropdown" *ngIf="openMenuId === item.id">
            <button class="sales__menu-item" (click)="toDetails(item.id)">{{'IP.ACTIONS_TOOLTIP.SEARCH' | translate}}</button>
          </div>
        </div>
      </div>

      <div class="sales__card-row">
        <label class="sales__card-label">{{'IP.ADMIN_TABLE.SALEDATE' | translate}}</label>
        <span class="sales__card-value sales__card-value--date">{{ item.saleDate | date : "dd/MM/yyyy" }}</span>
      </div>

      <div class="sales__card-row">
        <label class="sales__card-label">{{'IP.ADMIN_TABLE.PRODUCTNAME' | translate}}</label>
        <span class="sales__card-value">{{ item.productName }}</span>
      </div>

      <div class="sales__card-row">
        <label class="sales__card-label">{{'IP.ADMIN_TABLE.BROKERNAME' | translate}}</label>
        <span class="sales__card-value">{{ item.brokerName }}</span>
      </div>

      <div class="sales__card-row">
        <label class="sales__card-label">{{'IP.ADMIN_TABLE.CUSTOMERNAME' | translate}}</label>
        <span class="sales__card-value">{{ item.customerName }}</span>
      </div>

      <div class="sales__card-row">
        <label class="sales__card-label">{{'IP.ADMIN_TABLE.POLICYAMOUNT' | translate}}</label>
        <span class="sales__card-value sales__card-value--amount">{{ item.policyAmount }}</span>
      </div>

      <div class="sales__card-row">
        <label class="sales__card-label">{{'IP.ADMIN_TABLE.PREMIUMAMOUNT' | translate}}</label>
        <span class="sales__card-value sales__card-value--amount">{{ item.premiumAmount }}</span>
      </div>
    </div>

    <div class="sales__pagination">
      <div class="sales__pagination-center">
        <app-ip-select-input
          [control]="itemsPerPageControl"
          [options]="pageOptions"
          (selectEmitter)="onItemsPerPageChange($event)"
        ></app-ip-select-input>
      </div>

      <app-paginator
        [totalItems]="filteredSales.length"
        [itemsPerPage]="itemsPerPage"
        [currentPages]="currentPage"
        (pageChange)="onPageChange($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>