@import "../../../shared/mixins/generalText.scss";
@import "../../../shared/mixins/sizes.scss";
@import "../../../shared/mixins/utils.scss";

body {
  background: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supplier {
  background: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.supplier__title {
  @include mainTitleText();
  color: #0071ce;
  padding-left: 40px;
  margin: 0;
}

.supplier__card {
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  padding: 20px 0px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(5, 5, 5, 0.1);
}

.supplier__header {
  background-color: #ffffff;
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  padding: 20px 0px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(5, 5, 5, 0.1);
}

.supplier__pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-sizing: border-box;
  min-height: 50px;
  padding-top: 10px;

  ::ng-deep {
    app-paginator {
      display: flex;
      align-items: center;
      height: auto;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .ip-paginator {
      height: 2.5rem; // misma altura que el select
      padding: 0 1.06rem;
      align-items: center; //centrar verticalmente
      justify-content: flex-end;
    }
  }
}

.supplier__pagination-center {
  margin-top: 0;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.supplier__pagination-center {
  ::ng-deep {
    //ajustar el contenedor
    .ip-select-input {
      height: 2.5rem;
      display: flex;
      align-items: center;
      margin-bottom: 0 !important;
      
      @media (max-width: 768px) {
        height: 2rem;
      }
    }

    .mat-mdc-form-field-infix {
      padding: 0 !important;
      border: 0 !important;
      min-height: auto !important;
      display: flex;
      align-items: center;
    }

    //centro el select
    .mat-mdc-select {
      display: flex;
      align-items: center;
      padding: 0 0.50rem;
      height: 100%;
    }

    .mat-mdc-select-value {
      line-height: normal;
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    .mat-mdc-select-value-text {
      display: flex;
      align-items: center;
    }

    //saco elementos que ocupan espacio y no ayudan
    .mat-mdc-form-field-underline,
    .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }

    //acomodo flecha
    .mat-mdc-select-arrow-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
    }

    //oculto el espacio del label
    .ip-select-label-floating {
      display: none;
    }
  }
}

.supplier__table-view {
  display: block;
}

.supplier__card-view {
  display: none;
}

/* RESPONSIVE: MOBILE */
@include sm {
  .supplier__table-view {
    display: none;
  }

  .supplier__card-view {
    display: block;
    background: #ffffff;
    border-radius: 12px;
    padding: 2px 10px;
    margin-bottom: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 
                0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .supplier__card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 10px 0px;
    border-bottom: 1px solid #0071ce;
  }

  .supplier__card-id {
    @include cardText();
    color: #0071ce;
  }

  .supplier__image-container {
    text-align: end;
  }

  .supplier__card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  .supplier__card-label {
    @include sidenavTextLabel();
    color: #0071CE;
    font-weight: 600;
  }

  .supplier__card-value {
    @include sidenavTextLabel();
    color: #333;
    font-weight: 600;
    text-align: end;
  }

  .supplier__card-value--date {
    @include sidenavTextLabel();
    color: #666;
    font-weight: 600;
  }

  .supplier__card-value--amount {
    @include sidenavTextLabel();
    color: #0071ce;
    font-weight: 600;
  }

  body {
    overflow-x: hidden;
    width: 100vw;
  }

  .supplier {
    padding: 2px;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  .supplier__card {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-color: #f5f5f5;
    box-shadow: 0 0px 0px rgb(255, 255, 255);
  }
 
  .supplier__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 0px;
    width: 100%;
    padding: 0;
    margin-bottom: 14px;
    max-width: 100%;
    box-shadow: none;
  }

  .supplier__title {
    padding-left: 20px;
    text-align: start;
    width: 100%;
    margin: 0;
  }

  .supplier__pagination-center {
    padding-left: 0px;
  }

  .supplier__pagination {
    flex-direction: column;
    width: 100%;
  }

  .supplier__select {
    width: 100%;
  }

  .supplier__payment-channels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
  }

  .supplier__payment-channel {
    @include sidenavTextLabel();
    color: #333;
    font-weight: 500;
  }
}