<div class="supplier">
  <div class="supplier__header">
    <h2 class="supplier__title">{{ 'IP.LOGIN.SUPPLIER' | translate }}</h2>
  </div>

  <div class="supplier__card">
    <div class="supplier__table-view">
      <!--[actions]="actions"-->
      <app-table
        *ngIf="pagedData.length > 0"
        [propertyOrder]="propertyOrder"
        [data]="pagedData"
        [keyTranslate]="keyTranslate"
        [tableStyle]="'invopay'"
        [actionsIf]="actionsIf"
        [initTable]="initTable"
        [scroll]="scroll"
        (action)="onAction($event)"
        (selectedItemsChange)="onSelectedItemsChange($event)"
      >
      </app-table>
    </div>

    <!--Mostrar si es mobile-->
    <!--Hacer card la info para mobile-->
    <div class="supplier__card-view" *ngFor="let item of pagedData">
      <div class="supplier__card-header">
        <span class="supplier__card-id">#{{ item.id }}</span>
        <div class="supplier__image-container">
          <img [src]="item.logoUrl" [alt]="item.name" width="10%" />
        </div>
      </div>

      <div class="supplier__card-row">
        <label class="supplier__card-label">{{'IP.ADMIN_TABLE.NAME' | translate}}</label>
        <span class="supplier__card-value supplier__card-value--amount">{{ item.name }}</span>
      </div>

      <div class="supplier__card-row">
        <label class="supplier__card-label">{{'IP.ADMIN_TABLE.PAYMENTCHANNELS' | translate}}</label>
        <div class="supplier__payment-channels">
          <span class="supplier__payment-channel" *ngFor="let channel of item.paymentChannels">
            {{ channel }}
          </span>
        </div>
      </div>

      <div class="supplier__card-row">
        <label class="supplier__card-label">{{'IP.ADMIN_TABLE.ISPAYMENTENTITYACTIVE' | translate}}</label>
        <span class="supplier__card-value" *ngIf="item.isActive">{{'IP.YES' | translate}}</span>
        <span class="supplier__card-value" *ngIf="!item.isActive">{{'IP.NO' | translate}}</span>
      </div>

      <div class="supplier__card-row">
        <label class="supplier__card-label">{{'IP.ADMIN_TABLE.DESCRIPTION' | translate}}</label>
        <span class="supplier__card-value">{{ item.description }}</span>
      </div>
    </div>

    <div class="supplier__pagination">
      <div class="supplier__pagination-center">
        <select
          name="selectPages"
          id="pages"
          class="supplier__select"
          [(ngModel)]="itemsPerPage"
          (ngModelChange)="onItemsPerPageChange($event)"
        >
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
        </select>
      </div>
      <div>
        <app-paginator
          [totalItems]="tableData.length"
          [itemsPerPage]="itemsPerPage"
          [currentPages]="currentPage"
          (pageChange)="onPageChange($event)"
        >
        </app-paginator>
      </div>
    </div>
  </div>
</div>