<div class="modal" (click)="close.emit()"></div>
<div class="modal__content">
  <div class="modal__header">
    <h4>
      {{ "IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.FILTER_TITLE" | translate }}
    </h4>
    <button (click)="close.emit()">
      <img src="assets/new-styles/icons/buttons/close-icon.svg" />
    </button>
  </div>
  <form [formGroup]="filtersModalForm">
    <div class="modal__body">
      <div class="input-wrapper">
        <input type="text" id="productId" formControlName="productId" />
        <label for="productId">Id Producto</label>
      </div>

      <div class="input-wrapper">
        <input type="text" id="productName" formControlName="productName" />
        <label for="productName">Producto</label>
      </div>
      <!--<div class="modal__input-wrapper">
        <app-ip-input
          inputId="productId"
          [control]="getControl('productId')"
          placeholder="Id Producto"
          type="text"
        ></app-ip-input>
      </div>

      <app-ip-input
        inputId="productName"
        [control]="getControl('productName')"
        placeholder="Producto"
        type="text"
      ></app-ip-input>-->

      <app-ip-select-input
        [label]="'Broker'"
        [control]="getControl('broker')"
        [options]="selectOptions"
        (selectEmitter)="onChangeSelected($event)"
      ></app-ip-select-input>
    </div>

    <div class="modal__buttons">
      <app-ip-button-modal
        class="btn--clean"
        typeBtn="submit"
        size="normal"
        (clicked)="cleanFilters()"
      >
        {{ "IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.CLEAN_FILTER" | translate }}
      </app-ip-button-modal>

      <app-ip-button-modal
        class="btn--close"
        typeBtn="submit"
        size="normal"
        (clicked)="close.emit()"
      >
        {{ "IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.CLOSE" | translate }}
      </app-ip-button-modal>

      <app-ip-button-modal
        class="btn--apply"
        typeBtn="submit"
        size="normal"
        (clicked)="applyFilters()"
      >
        {{ "IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.APPLY" | translate }}
      </app-ip-button-modal>
    </div>
  </form>
</div>
