<div class="container">
  <div class="card-title">
    <h2 class="title">Detalle Venta</h2>
    <button (click)="back()">Volver</button>
  </div>

  <form [formGroup]="detailedInfoForm">
    <div class="row">
      <!-- Información Detallada -->
      <div class="card-row">
        <h3 class="subtitle">Información Detallada</h3>
        <div class="inputs">
          <div class="card-input">
            <label for="fechaVenta">Fecha Venta</label>
            <app-ip-input
              inputId="fechaVenta"
              [control]="getControl('saleDate')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="nombreProducto">Nombre Producto</label>
            <app-ip-input
              inputId="nombreProducto"
              [control]="getControl('productName')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="valorPrima">Valor Prima</label>
            <app-ip-input
              inputId="valorPrima"
              [control]="getControl('premiumAmount')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="valorComisionBroker">Valor Comisión Broker</label>
            <app-ip-input
              inputId="valorComisionBroker"
              [control]="getControl('brokerCommission')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="numeroPoliza">Número Póliza</label>
            <app-ip-input
              inputId="numeroPoliza"
              [control]="getControl('policyNumber')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="valorPoliza">Valor Póliza</label>
            <app-ip-input
              inputId="valorPoliza"
              [control]="getControl('policyAmount')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="porcentajeComision">Porcentaje Comisión</label>
            <app-ip-input
              inputId="porcentajeComision"
              [control]="getControl('commissionPercentage')"
              label=""
              type="text"
            ></app-ip-input>
          </div>
        </div>
      </div>

      <!-- Información del Cliente -->
      <div class="card-row">
        <h3 class="subtitle">Información Cliente</h3>
        <div class="inputs">
          <div class="card-input">
            <label for="nombreCliente">Nombre</label>
            <app-ip-input
              inputId="nombreCliente"
              [control]="getControl('customerName')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="telefonoCliente">Teléfono</label>
            <app-ip-input
              inputId="telefonoCliente"
              [control]="getControl('customerPhoneNumber')"
              label=""
              type="text"
            ></app-ip-input>
          </div>

          <div class="card-input">
            <label for="emailCliente">Email</label>
            <app-ip-input
              inputId="emailCliente"
              [control]="getControl('customerEmail')"
              label=""
              type="text"
            ></app-ip-input>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Tabla de plan de pagos -->
  <div class="card">
    <h3 class="subtitle">Plan de Pago de Cuotas</h3>
    <div class="table-view">
      <app-table
        *ngIf="tableData.length > 0"
        [propertyOrder]="propertyOrder"
        [data]="tableData"
        [keyTranslate]="keyTranslate"
        [tableStyle]="'invopay'"
        [initTable]="initTable"
        [scroll]="scroll"
        (sort)="onSort($event)"
        (action)="onAction($event)"
        (selectedItemsChange)="onSelectedItemsChange($event)"
      >
      </app-table>
    </div>
    
    <!--Mostrar si es mobile-->
    <!--Hacer card la info para mobile-->
    <div class="card-view" *ngFor="let item of tableData">
      <div class="card-header">
        <span class="card-id">N°{{ item.installmentNumber }}</span>
      </div>

      <div class="card-row-mobile">
        <label>Valor</label>
        <span class="card-amount">{{ item.amount }}</span>
      </div>

      <div class="card-row-mobile">
        <label>Fecha Vencimiento</label>
        <span>{{ item.dueDate | date: "dd/MM/yyyy" }}</span>
      </div>

      <div class="card-row-mobile">
        <label>Estado</label>
        <span>{{ item.isPaid }}</span>
      </div>

      <div class="card-row-mobile">
        <label>Comisión</label>
        <span>{{ item.commission }}</span>
      </div>

      <div class="card-row-mobile">
        <label>Valor Comisión</label>
        <span class="card-amount">{{ item.commissionAmount }}</span>
      </div>

      <div class="card-row-mobile">
        <label>Fecha de Pago</label>
        <span>{{ item.payedDate | date: "dd/MM/yyyy" }}</span>
      </div>
     
    </div>

  </div>
</div>