<div class="modal" (click)="close.emit()"></div>
<div class="modal__content">
  <div class="modal__header">
    <h4>{{ "IP.REVENUE_LIST.FILTER" | translate }}</h4>
    <button (click)="close.emit()">
      <img src="assets/new-styles/icons/buttons/close-icon.svg" />
    </button>
  </div>
  <form [formGroup]="filtersModalForm">
    <div class="modal__body">
      <app-ip-select-input
        [label]="'Canal de Pago'"
        [control]="getControl('paymentChannel')"
        [options]="selectOptions"
        (selectEmitter)="onChangeSelected($event)"
      ></app-ip-select-input>
    </div>

    <div class="modal__buttons">
      <app-ip-button-modal
        class="btn--clean"
        typeBtn="submit"
        size="normal"
        (clicked)="cleanFilters()"
      >
        {{ "IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.CLEAN_FILTER" | translate }}
      </app-ip-button-modal>

      <app-ip-button-modal
        class="btn--close"
        typeBtn="submit"
        size="normal"
        (clicked)="close.emit()"
      >
        {{ "IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.CLOSE" | translate }}
      </app-ip-button-modal>

      <app-ip-button-modal
        class="btn--apply"
        typeBtn="submit"
        size="normal"
        (clicked)="applyFilters()"
      >
        {{ "IP.SETTLEMENTS.SALE-PAYMENT.FILTERS.APPLY" | translate }}
      </app-ip-button-modal>
    </div>
  </form>
</div>
